<fieldset>
  <h1><%= @task.title %></h1>
  <% if (@task.completed === false) || (@task.completed === nil) %>
    <p><%= @task.details %></p>
    <div class="item">
      <!-- <%= check_box_tag :active, "t",checked = @task.completed %> -->
      <%= image_tag("empty.png", :alt => "not completed") %>
      <label for="not-complete">This task is not completed yet</label>
    </div>
  <% else %>
    <p><%= @task.details %></p>
    <div class="item">
      <!-- <%= check_box_tag :active, "t",checked = @task.completed %> -->
      <%= image_tag("check.png", :alt => "completed") %>
      <label for="complete">This task is completed</label>
    </div>
  <% end %>
  <hr>
  <%= link_to 'Back to list', tasks_path %>
  <%= link_to 'Edit task', edit_task_path %>
</fieldset>
